


.card {
    height: 250px !important;
    width: 100%!important;
    gap: 20px !important;
    margin: 10px !important;
    background-color: #000000 !important;
    border-radius: 10px !important;
    color: #ffffffff !important;
}

